body {
  /* background-color: #778873; */
  background-color: #2c3e50;
}
h1 {
  font-size: 50px;
}
/*   classic watch*/
h2 {
  font-size: 25px;
}
.watch {
  border-style: solid;
  width: fit-content;
  background-color: rgb(91, 95, 100);

  border-radius: 30px;
  transition: 0.3s;
}
.watch:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 10px white;
}

.imgclassic {
  border-radius: 30px 30px 0px 0px;
  width: 280px;
  height: 450px;
}

#ws {
  margin-left: auto;
  margin-right: auto;
  margin-top: -550px;
}

#wblack {
  margin-left: auto;

  margin-top: -550px;
}

/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
/*smart watch*/
.watchs {
  border-style: solid;
  width: fit-content;
  border-radius: 30px;
  height: 500px;
  background-color: rgb(91, 95, 100);
  transition: 0.3s;
}

.watchs:hover {
  transform: scale(1.1);
  box-shadow: 4px 8px 10px white;
}

#ws1 img {
  height: 350px;
  width: 370px;
  border-radius: 30px 30px 0px 0px;
}

#ws2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: -525px;
}

#ws2 img {
  height: 350px;
  width: 320px;
  border-radius: 30px 30px 0px 0px;
}

#ws3 img {
  height: 350px;
  width: 280px;
  border-radius: 30px 30px 0px 0px;
  background-color: rgb(163, 163, 163);
}

#ws3 {
  margin-left: auto;

  margin-top: -525px;
}

.button_watch {
  border-radius: 10px;
  transition: 0.3;
  margin-top: 40px;
  width: 100px;
}

.button_watch:hover {
  background-color: #75810e;
  cursor: pointer;
  box-shadow: 4px 8px 10px white;
}

.button_watchc {
  border-radius: 10px;
  transition: 0.3;
  margin-top: -5px;
  width: 100px;
}
.button_watch:hover {
  background-color: #75810e;
  cursor: pointer;
}

.button_watchc:hover {
  background-color: #75810e;
  cursor: pointer;
}

.p_watch {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 4px 10px;
}
#pic1 {
  width: 300px;
  border-radius: 30px 30px 0px 0px;
  
}
#pic2 {
  width: 300px;
  border-radius: 30px 30px 0px 0px;
  
}
#pic3 {
  width: 300px;
  border-radius: 30px 30px 0px 0px;
  
}
#pic4 {
  width: 300px;
  border-radius: 30px 30px 0px 0px;
  
}
.p_necklace{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 4px 10px;
}
.p_bracelet{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 4px 10px;
}
#lightning_necklace{
  margin-right: auto;
  border-style: solid;
  border-radius: 30px;
  width: 300px;
  background-color: rgb(163, 163, 163);
  display: flexbox;
  transition: 0.3s;
}
 #lightning_necklace:hover{
   transform: scale(1.1);
   box-shadow: 2px 3px 8px white;
}
#gold_necklace{
  margin-right: auto;
  border-style: solid;
  border-radius: 30px;
  width: 300px;
  background-color: rgb(163, 163, 163);
  display: flexbox;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-top: -432px;
}
#gold_necklace:hover{
  transform: scale(1.1);
   box-shadow: 2px 3px 8px white;
}
#lacoste_bracelet{
  margin-top: -432px;
  border-style: solid;
  border-radius: 30px;
  width: 300px;
  background-color: rgb(163, 163, 163);
  display: flexbox;
  transition: 0.3s;
  margin-left: auto;    
}
#lacoste_bracelet:hover{
  transform: scale(1.1);
   box-shadow: 2px 3px 8px white;
}
#white_bracelet{
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-radius: 30px;
  width: 300px;
  background-color: rgb(163, 163, 163);
  display: flexbox;
  transition: 0.3s    
}
#white_bracelet:hover{
    transform: scale(1.1);
   box-shadow: 2px 3px 8px white;
}


.acc_btn{
  border-radius: 10px;
  transition: 0.3;
  margin-top: -5px;
  width: 100px;
}
.acc_btn:hover{
   background-color: #75810e;
  cursor: pointer; 
}
.add-btn:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #d1dbb6;
}
.add-btn{
    border-radius: 5px;
    border-color: #d1dbb6;
}


.footer-btn2{
    border-style:solid ;
    color: azure;
    border-radius: 5px 7px ;
    background-color: rgb(4, 113, 55);
}
