body{
    background-color: #778873
}
#c{
    color: white;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
}
#s{
    color: white;
    font-size: 40px;
}
.suits{
    border: solid;
    width: fit-content;
    border-radius: 20px;
    transition: 0.4s;
}
.imgs{
    border-radius: 15px 15px 0px 0px;
}
#img1{
    height: 400px;
}
#img2,#img3,#img4{
    width: 300px;
    height: 400px;
}
.suits section  a,button{
    border-radius: 15px;
}
#sdiv1{
    display: flex;
    justify-content: space-around;
}
#sdiv2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.suits:hover{
    transform: scale(1.1);
}
#a{
    color: white;
    font-size: 40px;
}
.acces{
    border: solid;
    width: fit-content;
    border-radius: 20px;
    transition: 0.4s;
}
.imgs{
    border-radius: 15px 15px 0px 0px;
}
#img6{
    height: 345px;
}
#img7{
    height: 300px;
}
#adiv1{
    display: flex;
    justify-content: space-around;
}
#adiv2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.acces:hover{
    transform: scale(1.1);
}
#sh{
    color: white;
    font-size: 40px;
}
.shoes{
    border: solid;
    width: fit-content;
    border-radius: 20px;
    transition: 0.4s;
}
.imgs{
    border-radius: 15px 15px 0px 0px;
}
#img9{
    height: 350px;
}
#img10{
    height: 350px;
}
#img11{
    height: 350px;
}
#img12{
    height: 350px;
}
#shdiv1{
    display: flex;
    justify-content: space-around;
}
#shdiv2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shoes:hover{
    transform: scale(1.1);
}
.footer{
    color: white;
    transform: translateX(500px);
}
p,h4{
    color: white;
}
button{
    border-radius: 25px 0px 25px 0px;
    transition: 0.4s;
}
button:hover{
    border-radius: 0px 25px 0px 25px;
    background-color: black;
    color: white;
}


